body { font-family: 'Quicksand', sans-serif; background-color: #f9f9f9; margin: 0; }
h1, h2, h3, h4, p, li, i { color: #2a2d32; font-weight: 300; }
h1, h2, h3, h4 { margin: 0; padding: 0; font-weight: 600; }

.container { max-width: 1100px; margin: auto; }

.nav { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; background-color: #f9f9f9; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
.nav .container { height: 60px; display: flex; justify-content: space-between; align-items: center; }
.nav .container .logo { display: flex; justify-content: center; align-items: center; }
.nav .container .logo i { font-size: 40px; }
.nav .container .logo h1 { font-size: 22px; font-weight: 300; margin: 0 10px; }
.nav .container .menubutton { display: flex; justify-content: center; align-items: center; font-weight: 600; font-size: 20px; cursor: pointer; }

.menu { display: none; position: fixed; z-index: 99; top: 60px; left: 0; width: 100%; height: calc(100vh - 60px); background-color: rgba(19, 19, 19, 0.9); }
.menu .container { max-width: 500px; display: flex; justify-content: center; align-items: center; height: 100%; }
.menu .teamlist { margin: 2em 0; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.menu .teamlist .leader { cursor: pointer; }

.intro { margin-top: 60px; padding: 3em 0; }
.intro h1 { text-align: center; font-size: 40px; margin-bottom: 10px; }
.intro ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.intro ul li { padding: 0; margin: 3px; }
.intro ul li img { height: 45px; width: 45px; border-radius: 50rem; border: solid 2px #2a2d32; }

.main { padding: 2em 0; }
.main.first-section { padding-top: 0; }
.main .team { background-color: white; box-shadow: 0 1px 5px rgba(0,0,0,0.1); display: flex; justify-content: center; align-items: stretch; overflow: hidden; }
.main .team .review { width: 50%; padding: 2em; box-sizing: border-box; }
.main .team .review .overview { display: flex; justify-content: flex-start; align-items: center; flex: none; margin-bottom: 1em; }
.main .team .review .overview .leader { width: 110px; height: 110px; }
.main .team .review .overview .lineup { padding: 0 1em; }
.main .team .review .overview .lineup .name { display: flex; justify-content: flex-start; align-items: center; margin-bottom: 10px; }
.main .team .review .overview .lineup .name h2 { font-size: 22px; border: solid 2px #eaeaea; padding: 5px 10px; border-radius: 20rem; display: flex; justify-content: center; align-items: center; border-color: inherit; }
.main .team .review .overview .lineup .name h2 i { font-size: 0.6em; color: inherit; padding-right: 3px; }
.main .team .review .overview .lineup .name h3 { padding: 0 10px; }
.main .team .review .overview .lineup .name h3 i { color: #ffb41a; }
.main .team .review .overview .lineup ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; }
.main .team .review .overview .lineup ul li { padding: 0; margin: 3px; line-height: 0; }
.main .team .review .overview .lineup ul li:first-child { margin-left: 0; }
.main .team .review .overview .lineup ul li img { height: 45px; width: 45px; border-radius: 50rem; border: solid 2px #2a2d32; }
.main .team .review .overview .characters { border-left: dotted 1px #d1d1d1; margin: 0; padding: 0 2em; flex: 1; }
.main .team .review .overview .characters p { font-size: 0.8em; text-align: center; text-transform: uppercase; margin: 0 5px 5px; }
.main .team .review .overview .characters p span { font-weight: 600; color: #d91f39; }
.main .team .review .breakdown {  }
.main .team .review .breakdown h4 { padding-top: 0.3em; }
.main .team .review .breakdown p { line-height: 1.5em; margin: 1em 5px; }
.main .team .review .breakdown .difficulty { list-style: none; margin: 1em 5px; padding: 0; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 275px; border-radius: 50rem; overflow: hidden; }
.main .team .review .breakdown .difficulty li { opacity: 0.25; width: 25%; text-align: center; padding: 7px 0; font-weight: 600; color: white; }
.main .team .review .breakdown .difficulty li.active { opacity: 1; }
.main .team .review .breakdown .zetas { list-style: none; margin: 1em 5px; padding: 0; }
.main .team .review .breakdown .zetas li { padding-bottom: 15px; display: flex; justify-content: flex-start; align-items: center; }
.main .team .review .breakdown .zetas li:last-child { padding-bottom: 0; }
.main .team .review .breakdown .zetas li:before { content: ''; display: inline-block; background-image: url(../images/zeta-icon.png); background-size: cover; width: 20px; height: 20px; margin-right: 5px; }
.main .team .review .breakdown .speeds { list-style: none; margin: 1em 5px; padding: 0; }
.main .team .review .breakdown .speeds li { padding-bottom: 15px; display: flex; justify-content: flex-start; align-items: center; }
.main .team .review .breakdown .speeds li:last-child { padding-bottom: 0; }
.main .team .review .breakdown .speeds li:before { content: '\f058'; font-family: 'FontAwesome'; color: #19c866; width: 20px; text-align: center; display: inline-block; margin-right: 5px; }
.main .team .review .breakdown .warnings { list-style: none; margin: 1em 5px; padding: 0; }
.main .team .review .breakdown .warnings li { padding-bottom: 15px; display: flex; justify-content: flex-start; align-items: center; }
.main .team .review .breakdown .warnings li:last-child { padding-bottom: 0; }
.main .team .review .breakdown .warnings li:before { content: '\f06a'; font-family: 'FontAwesome'; color: #e44747; width: 20px; text-align: center; display: inline-block; margin-right: 5px; }
.main .team .review .breakdown .warnings li strong { font-weight: 600; color: #da2d2d; }
.main .team .review .breakdown .order { margin: 1em 0 0; padding: 0; display: flex; justify-content: flex-start; align-items: center; list-style: none; flex-wrap: wrap; }
.main .team .review .breakdown .order li { margin: 10px 5px; }
.main .team .review .breakdown .order li span { padding: 5px 10px; border: solid 1px #eaeaea; border-radius: 20rem; white-space: nowrap; }
.main .team .review .breakdown .order li:after { content:'\f061'; font-family: 'FontAwesome'; margin-left: 10px; color: #939393; }
.main .team .review .breakdown .order li:last-child:after { content: none; }
.main .team .counters { width: 50%; padding: 2em; box-sizing: border-box; background-color: #f4f4f4; box-shadow: -1px 0 3px rgba(0,0,0,0.1); }
.main .team .counters .list { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.main .team .counters .list.hard { margin-bottom: 2em; }
.main .team .counters .list h2 { width: 100%; padding: 0; font-size: 18px; }
.main .team .counters .hard h2 { color: #d91f39; }
.main .team .counters .soft h2 { color: #9727b3; }
.main .team .counters .list h2 i { color: inherit; padding-right: 5px; }
.main .team .counters .list p { margin: 10px 0 1em; }
.main .team .counters .list ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; }
.main .team .counters .list ul li { padding: 0; margin: 2px; line-height: 0; cursor: pointer; }
.main .team .counters .list ul li:first-child { margin-left: 0; }
.main .team .counters .list ul li img { height: 45px; width: 45px; border-radius: 50rem; border: solid 2px #2a2d32; }
.main .team .counters .counterteam { display: none; background-color: white; width: 100%; box-sizing: border-box; padding: 1em; margin: 1em 0; box-shadow: 0 0 5px rgba(0,0,0,0.1); }
.main .team .counters .counterteam .overview { display: flex; justify-content: flex-start; align-items: center; }
.main .team .counters .counterteam .overview .leader { width: 50px; height: 50px; margin-left: 0; }
.main .team .counters .counterteam .overview .name { display: flex; justify-content: flex-start; align-items: center; padding: 0 10px; width: 100%; }
.main .team .counters .counterteam .overview .name h3 { font-size: 24px; font-weight: 600; padding: 0; }
.main .team .counters .counterteam .overview .name h4 { text-transform: none; font-size: 16px; border: solid 2px #eaeaea; padding: 4px 8px; border-radius: 20rem; display: flex; justify-content: center; align-items: center; border-color: inherit; width: auto; margin: 0 10px; }
.main .team .counters .counterteam .overview .name h4 i { font-size: 0.6em; color: inherit; padding-right: 3px; }
.main .team .counters .counterteam .characters { margin: 15px 0; }
.main .team .counters .counterteam .characters p { margin: 0 0 10px; padding: 0; }
.main .team .counters .counterteam .characters ul li { cursor: unset; }
.main .team .counters .counterteam .characters ul li:first-child { margin-left: 0; }
.main .team .counters .counterteam .breakdown p { margin: 8px 0 0; }
.main .team .counters .counterteam .breakdown .videos { list-style: none; margin: 1em 5px 5px; padding: 0; }
.main .team .counters .counterteam .breakdown .videos li { padding-bottom: 15px; line-height: 1em; cursor: unset; }
.main .team .counters .counterteam .breakdown .videos li:last-child { padding-bottom: 0; }
.main .team .counters .counterteam .breakdown .videos li:before { content: '\f144'; font-family: 'FontAwesome'; color: #ff0000; width: 20px; text-align: center; display: inline-block; margin-right: 5px; }
.main .team .counters .counterteam .breakdown .videos li a { color: #ff0000; }

.leader { position: relative; margin: 5px; width: 80px; height: 80px; border-radius: 50rem; box-shadow: 0 1px 2px rgba(0,0,0,0.15); display: flex; justify-content: center; align-items: center; flex: none; }
.leader img { width: 100%; border-radius: 100%; }
.leader .secondary { position: absolute; bottom: -10%; left: -10%; width: 50%; height: auto; border: solid 3px #ffb41a; }
.darkside { border: 3px solid #e44747; }
.lightside { border: 3px solid #219ce6; }
.darklead { color: #e44747; }
.lightlead { color: #219ce6; }
.grade-a { background-color: #9d0b0b; }
.grade-b { background-color: #da2d2d; }
.grade-c { background-color: #eb8242; }
.grade-d { background-color: #f6da63; }
.essential { color: #d91f39; font-weight: 600; }
.essential img { border-color: #d91f39 !important; }
.warning { border-color: #ffb41a !important; }

@media (max-width: 600px) {
	.container { width: 95%; }
	.leader { width: 65px; height: 65px; }

	.nav .container { height: 50px; }
	.nav .container .logo i { font-size: 30px; }
	.nav .container .logo h1 { font-size: 16px; }
	.nav .container .menubutton { font-size: 15px; }
	
	.intro { margin-top: 50; padding: 2em 0; }

	.main { padding: 2em 0; }
	.main .team { flex-wrap: wrap; }
	.main .team .review { width: 100%; padding: 1em 1em 2em; }
	.main .team .review .overview { align-items: flex-start; }
	.main .team .review .overview .leader { width: 80px; height: 80px; order: 2; }
	.main .team .review .overview .lineup { padding: 0; order: 1; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
	.main .team .review .overview .lineup .name { align-items: center; margin-bottom: 0; flex-direction: column; order: 2; }
	.main .team .review .overview .lineup .name h3 { padding: 10px 0 0; }
	.main .team .review .overview .lineup h4 { font-size: 18px; }
	.main .team .review .overview .lineup ul { order: 1; margin-bottom: 20px; }
	.main .team .counters { width: 100%; padding: 2em 1em; box-shadow: 0px -1px 3px rgba(0,0,0,0.1); }
	.main .team .counters .counterteam .overview .leader { width: 65px; height: 65px; }
	.main .team .counters .counterteam .overview .name { flex-direction: column; align-items: flex-start; }
	.main .team .counters .counterteam .overview .name h4 { margin: 5px 0; }

	.menu { top: 50px; }
}
