body { font-family: 'Quicksand', sans-serif; background-color: #f9f9f9; margin: 0; }
h1, h2, h3, h4, p, li, i { color: #2a2d32; font-weight: 300; }
h1, h2, h3, h4 { margin: 0; padding: 0; font-weight: 600; }

.container { max-width: 1000px; margin: auto; }

.nav { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; background-color: #f9f9f9; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
.nav .container { height: 60px; display: flex; justify-content: space-between; align-items: center; }
.nav .container .logo { display: flex; justify-content: center; align-items: center; }
.nav .container .logo img { height: 40px; width: auto; }
.nav .container .logo h1 { font-size: 22px; font-weight: 600; margin: 0 10px; }
.nav .container .menubutton { display: flex; justify-content: center; align-items: center; font-weight: 600; font-size: 20px; cursor: pointer; }
.nav .container .menubutton span { line-height: 1; }
.nav .container .menubutton span img { height: 40px; width: auto; }

.main { padding: 0; margin-top: 60px; }
.main .team { padding: 2em; background-color: white; box-shadow: 0 1px 5px rgba(0,0,0,0.1); display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; overflow: hidden; min-height: calc(100vh - 60px); }
.main .team .overview { display: flex; justify-content: flex-start; align-items: center; flex: none; margin-bottom: 2em; }
.main .team .overview .name { display: flex; justify-content: flex-start; align-items: center; margin-bottom: 10px; }
.main .team .overview .name h2 { font-size: 30px; padding: 0; margin-right: 10px; display: flex; justify-content: center; align-items: center; border-color: inherit; }
.main .team .overview .leader { width: 100px; height: 100px; }
.main .team .overview .lineup { padding: 0; }
.main .team .overview .lineup ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; }
.main .team .overview .lineup ul li { padding: 0; margin: 3px; line-height: 0; border-radius: 100%; }
.main .team .overview .lineup ul li img { height: 75px; width: 75px; border-radius: 100%; }
.main .team .overview .characters { border-left: dotted 1px #d1d1d1; margin: 0; padding: 0 2em; flex: 1; }
.main .team .overview .characters p { font-size: 0.8em; text-align: center; text-transform: uppercase; margin: 0 5px 5px; }
.main .team .overview .characters p span { font-weight: 600; color: #d91f39; }
.main .team h4 {  }
.main .team p { line-height: 1.5em; margin: 1em 0; }
.main .team .difficulty { display: flex; justify-content: flex-start; align-items: center; margin: 0 0 1.5em; }
.main .team .difficulty .scale { list-style: none; margin: 0 10px; padding: 0; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 225px; border-radius: 50rem; overflow: hidden; }
.main .team .difficulty .scale li { opacity: 0.25; width: 25%; text-align: center; padding: 5px 0; font-weight: 600; color: white; }
.main .team .difficulty .scale li.active { opacity: 1; }
.main .team .speeds { list-style: none; margin: 1em 5px 1.5em; padding: 0; }
.main .team .speeds li { padding-bottom: 15px; display: flex; justify-content: flex-start; align-items: center; }
.main .team .speeds li:last-child { padding-bottom: 0; }
.main .team .speeds li:before { content: '\f06a'; font-family: 'FontAwesome'; color: #e83a3a; width: 20px; text-align: center; display: inline-block; margin-right: 5px; }
.main .team .warnings { list-style: none; margin: 1em 5px; padding: 0; }
.main .team .warnings li { padding-bottom: 15px; display: flex; justify-content: flex-start; align-items: center; }
.main .team .warnings li:last-child { padding-bottom: 0; }
.main .team .warnings li:before { content: '\f06a'; font-family: 'FontAwesome'; color: #e44747; width: 20px; text-align: center; display: inline-block; margin-right: 5px; }
.main .team .warnings li strong { font-weight: 600; color: #da2d2d; }
.main .team .order { margin: 1em 0 0; padding: 0; display: flex; justify-content: flex-start; align-items: center; list-style: none; flex-wrap: wrap; }
.main .team .order li { margin: 10px 5px; }
.main .team .order li:first-child { margin-left: 0; }
.main .team .order li span { padding: 5px 10px; border: solid 1px #eaeaea; border-radius: 20rem; white-space: nowrap; }
.main .team .order li:after { content:'\f061'; font-family: 'FontAwesome'; margin-left: 10px; color: #939393; }
.main .team .order li:last-child:after { content: none; }

.leader { position: relative; margin: 5px; width: 80px; height: 80px; border-radius: 50rem; box-shadow: 0 1px 2px rgba(0,0,0,0.15); display: flex; justify-content: center; align-items: center; flex: none; }
.leader img { width: 100%; border-radius: 100%; }
.leader .secondary { position: absolute; bottom: -10%; left: -10%; width: 50%; height: auto; border: solid 3px #ffb41a; }
.darkside { border: 3px solid #e44747; }
.lightside { border: 3px solid #219ce6; }
.darklead { color: #e44747; }
.lightlead { color: #219ce6; }
.star { position: relative; }
.star::after { position: absolute; bottom: 0; right: 0; content:'\f005'; font-family: 'FontAwesome'; color: #ffb100; font-size: 25px; }
.grade-s { background-color: #e00268; }
.grade-a { background-color: #9d0b0b; }
.grade-b { background-color: #da2d2d; }
.grade-c { background-color: #eb8242; }
.grade-d { background-color: #f6da63; }
.essential { color: #d91f39; font-weight: 600; }
.essential img { border-color: #d91f39 !important; }
.warning { border-color: #ffb41a !important; }
.darkbg { background-image: url('../images/factions/dark-side-bg.png'); background-repeat: no-repeat; background-position: top right; background-size: 145px; }

@media (max-width: 600px) {
	.container { width: 95%; }
	.leader { width: 65px; height: 65px; }

	.nav .container { height: 50px; }
	.nav .container .logo i { font-size: 30px; }
	.nav .container .logo h1 { font-size: 16px; }
	.nav .container .menubutton { font-size: 15px; }
	
	.intro { margin-top: 50; padding: 2em 0; }

	.main { padding: 2em 0; }
	.main .team { flex-wrap: wrap; }
}
